<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MaterialDesignColors" version="1.2.7-ci1779" targetFramework="net462" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net462" />
  <package id="NAudio" version="1.10.0" targetFramework="net45" />
  <package id="NReco.VideoConverter" version="1.1.4" targetFramework="net46" />
</packages>